// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #0d0d0d;
$secondary-color: #f1f1f1;
$third-color: #7ebf82; 
$title-color: #337ab7;


/***************************************/
/*                                     */
/*          Navigation bar             */
/*                                     */
/***************************************/

.navbar {
  border-radius: 0px; 
}

.navbar-inverse {

  .navbar-link {
    color: $secondary-color;
  }
  .navbar-brand {
    color: $secondary-color;
    
    &:hover {
      color: $third-color;
    }
  }
  .navbar-nav {
    .active {
      a {
        background-color: $third-color;

        &:focus {
          background-color: $third-color;
        }
        &:hover {
          background-color: $third-color;
        }
      }
    }

    li {
      a {
        color: $secondary-color;
    
        &:hover {
          color: $third-color;
        }
      }
    }
  }
}

.dropdown-menu {
  background-color: black;

  li a:hover {
    background-color: black;
  }
}

/***************************************/
/*                                     */
/*              Articles               */
/*                                     */
/***************************************/

h1 {
  color: $title-color;
}

h5 {
  color: $third-color;
}

h6 {
  font-style: italic;
}

article {
  margin: 15px 0;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid $primary-color;
}

.article-links {
  margin: 30px 0 50px;
} 


/***************************************/
/*                                     */
/*             Sidebar                 */
/*                                     */
/***************************************/

.sidebar {
  background: $secondary-color;
  margin-top: 40px;
  padding-bottom: 10px;
}


/***************************************/
/*                                     */
/*               Footer                */
/*                                     */
/***************************************/

footer {
  font-size: 1.4em;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px;
  height: 300px;

  a {
    color: $secondary-color; 
    
    &:hover {
      color: $third-color;
      text-decoration: none;
    }
  }
  
  .nav-block {
    padding: 10px 0;

    ul {
      padding: 10px 0;
      list-style-type: none;
      border-top: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;

      li {
        padding: 3px 0;
      }
    }

    .fa-icon {
      font-size: 32px;
      margin-right: 5px; 
    }
  }
  
}