// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: darkblue;
$secondary-color: white;
$border-color: #ddd;

@mixin anchor-top-bottom($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

/*****************************************************/
/*                     Comments                      */
/*****************************************************/
.comments {
  border: solid 1px $border-color;
  border-radius: 5px;
  margin: 4em 0;

  .comment-box {
    border-top: solid 1px #ddd;  
    margin: 2em 1.8em 0 1.8em;
    padding: 10px;
  }

  .new-comment-box {
    @include anchor-top-bottom(3em, 1.8em);
    
    .btn-submit {
      margin-top: 15px;
    }
  }

  .comment-header {
    padding-left: 15px;
  }

  .pagination {
    margin-left: 20px;

    a, span, em {
      border: 1px solid $primary-color;
      padding: 7px;
      margin-left: 2px;
    }
    
    .current{
      color: $secondary-color;
      background: $primary-color;
    }
  }

}

